apiVersion: 1

datasources:
  - name: InfluxDB (SQL)
    type: influxdb
    access: proxy
    url: http://influxdb:8181
    secureJsonData:
      token: apiv3_arista_admin_token
    jsonData:
      dbName: default
      insecureGrpc: true
      version: SQL

  - name: InfluxDB (InfluxQL)
    type: influxdb
    access: proxy
    url: http://influxdb:8181
    database: default
    jsonData:
      httpMode: GET
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Token apiv3_arista_admin_token'